.app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.app-header {
  background-color: #0d1b3f;
  color: white;
  padding: 20px;
}

.main-grid {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}